In [1]:
import pandas as pd
import numpy as np

In [2]:
population = list(np.random.randint(100000000, size = 10))
data = {'Country': ['Taiwan','China','America','England','German','Japan','Singapore','Russia','France','Greek'],
        'Population': population}
df = pd.DataFrame(data)
df

     Country  Population
0     Taiwan    47201713
1      China    90941321
2    America    87471439
3    England    70845362
4     German    49436989
5      Japan    44817245
6  Singapore    94895439
7     Russia    84290864
8     France    86570094
9      Greek    47312241

In [3]:
# the country with the largest population
df.loc[df['Population'].idxmax()]

Country       Singapore
Population     94895439
Name: 6, dtype: object